body {
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: #455a64;
  background-color: #fff;
  font-family: "avenir-light", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-image: url(/static/images/homepage-background.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

@font-face {
  font-family: "avenir-light";
  src: url("../fonts/avenir-light.eot");
  src: url("../fonts/avenir-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/avenir-light.ttf") format("truetype"),
    url("../fonts/avenir-light.svg#avenir-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

a {
    text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Space Grotesk", Arial, sans-serif;
  color: #415659 !important;
  line-height: 1.5;
  font-weight: 500 !important;
}

.hero{
}

.navbar {
  background-color: transparent;
}

.white {
  background-color: white;
}

.logo {
  font-family: "Space Grotesk", Arial, sans-serif;
  color: #415659 !important;
  line-height: 1.5;
  font-weight: 700 !important;
  font-size: 23px;
}

.title {
  font-size: 48px;
}
.subtitle {
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
}
.chatline {
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
}
.container {
  max-width: 1152px;
  margin: 0 auto;
}
.spacer {
  border-bottom: 2px solid #000;
  width: 10rem;
  padding-top: 1.6rem !important;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 2.4rem;
}

.heading-padding {
  padding: 0;
  margin-bottom: 0 !important;
}
.layout-padding {
  padding: 3.2rem 2.4rem;
}
.content-layout {
    padding: 3.2rem 2.4rem;
    max-width: 800px;
    margin: 0 auto;
}

.layout h3 {
  color: #30363d;
  margin-top: 0;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 600 !important;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.narrow {
  max-width: 744px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

p.teaser {
  color: #1c1d1e;
  margin-top: 36px;
  margin-bottom: 48px;
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 300;
}

#intro {
  margin-top: 5%;
}

#form-intro {
  margin-top: 10%;
}

#post-job {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

#intro h4 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 5rem;
  color: #3d5afe;
  font-weight: 600;
}

#intro p {
  font-size: 2.5em;
  color: #546e7a;
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.block {
  font-size: 1.3em;
  color: #a3abb3;
  margin: 1em 0 3em;
  line-height: 1.8em;
}

.featured {
  margin-top: 1rem;
}

.featured-img {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
  width: 70px;
}

.gray {
  background-color: #ececec;
  border-top: 1px solid #e0e0e0;
  border-radius: 10px;
}

#chat-section {
  max-width: 600px;
  margin: 0 auto;
  display: inline-block;
  padding: 15px 5px;
}

.bubble p {
  margin: 0;
  padding: 0;
  color: #455a64;
  font-size: 17px;
}

.bubble {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 6px #b2b2b2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}

.bubble::before {
  background-color: #fff;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform: rotate(29deg) skew(-35deg);
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -o-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(29deg) skew(-35deg);
  width: 20px;
}

.me {
  float: left;
  margin: 10px 45px 10px 20px;
  clear: both;
}

.me::before {
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  left: -9px;
}

.you {
  float: right;
  margin: 10px 20px 10px 45px;
  clear: both;
}

.you::before {
  box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.4);
  right: -9px;
}

.loading {
  font-size: 30px;
  width: 60px;
  height: 50px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2000ms infinite;
  animation: ellipsis steps(4, end) 2000ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

#footer {
  padding-top: 2rem;
}

ul.menu {
  display: block;
  margin: 0;
}

.menu-item {
  display: inline-block;
  color: #3d5afe;
  padding: 0 5px;
}

.button {
  margin: 0;
}

#tag {
  font-size: 2.75rem;
  line-height: 2.375rem;
}

.post-button {
  border-bottom: 1px dotted;
  box-sizing: border-box;
  color: #4040ff;
  margin: 10px;
  font-weight: 700;
  font-size: 15px;
  padding: 0 0 5px;
  display: inline-block;
}

#text-block {
  margin-top: 3%;
}

#chat-block {
  margin-top: 1%;
  margin-bottom: 5%;
}

.features {
  padding: 20px 0;
}

p.feature {
  padding-bottom: 7px;
}

.home-shadow-box {
  margin: 25px 0;
}

.pa6 {
  padding: 3.125rem;
}

.shadow-box {
  box-shadow: 0 10px 25px 0 rgba(49, 49, 93, 0.1);
  border-radius: 5px;
}

.bg-white {
  background: #fff;
}

.header {
  font-weight: bold !important;
  color: #0a0a0a !important;
  font-size: 23px;
}

svg.icon-check {
  width: 36px;
  height: 27px;
  fill: #00d79f;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 5px;
}

.messages {
  max-width: 720px;
  padding-bottom:10px;
  display: block;
  margin: 0 auto
}

.padded {
  padding: 0 32px;
}

.text {
  margin-top: 5%;
}

.numberIcon {
  color: #2179ee;
  font-size: 3.4rem;
  line-height: 1;
}
#feature {
  margin-bottom: 3rem;
}
.f-text {
  padding: 30px 0;
}
.f-img {
  height: auto;
  width: 300px;
  float: right;
}
.left {
  float: left !important;
}
#copy {
    background-color:#FFF;
}
.content {
    padding: 42px;
    font-size: 42px;
    line-height: 55px;
    color: #000000;
}
.content-small {
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 35px;

}

@media (max-width: 40rem) {
  #text-block {
    margin-top: 10%;
  }
  .float-center {
    text-align: center;
  }
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 300;
  src: url("../fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Light.woff") format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
}
