{% extends 'base.html' %}

{% block navbar %}
    <nav class="navbar is-transparent white" role="navigation" aria-label="main navigation">
{% endblock %}

{% block content %}
<!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="copy">
        <div class="container">
            <div class="content-layout is-centered">
                <p class="content has-text-centered">
We are a small fast moving team commited to making it easier for job seekers to find new opportunites, develop their skills and grow their careers.
                </p>
                <p class="content-small has-text-centered">
We combine machine and human intelligence to provide personalized career advice and match talent to unique and great opportunites 
                </p>
                <p class="content-small has-text-centered">
                We work with companies looking to recruit talent quicker and more efficent than before.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
