<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Kazibot - Your personal career assistant</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/bulma.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Navbar 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block navbar %}
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    {% endblock %}
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="http://kazibot.com">
                    <span class="logo">KaziBot</span>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                    <a class="navbar-item" href="/about">
                        About
                    </a>
                    <a class="navbar-item" href="/blog">
                        Blog
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block content %}{% endblock %}

    <footer class="footer">
        <div id="footer" class="has-text-centered">
            <ul class="menu">
                <li class="menu-item"> <a href="/about">About</a></li>
                <li class="menu-item"> <a href="/blog">Blog</a></li>
                <li class="menu-item"> <a href="mailto:hello@kazibot.com">Contact</a></li>
            </ul>
            <div>
                <p>Made with ♥ by <a href="http://kazilabs.com/" target="_blank">Kazi Labs</a></p>
            </div>
        </div>
    </footer>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->



    <script>
document.addEventListener('DOMContentLoaded', () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
    </script>

</body>
</html>
