{% extends 'base.html' %}

{% block content %}
<!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section class="section hero">
        <div class="container">
            <div class="has-text-centered">
                <h1 class="title">Hi, I'm Kazibot</h1>
                <h2 class="subtitle">Your personal career assistant.<br>
                    Let me help you find your next job and grow your career
                </h2>
                <figure class="image">
                  <img src="static/images/features.png" class="messages" alt=""/>
                </figure>
                <h4 class="chatline has-text-centered">
                    Chat with Kazibot anytime — it's that simple
                </h4>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <div class="level is-mobile is-centered" id="icon-block">
                        <div class="level-item is-narrow">
                            <div>
                                <a href="https://m.me/kazibot" >
                                    <img src="static/images/messenger.png" class="featured-img has-text-centered" alt=""/>
                                </a>
                                <h4 class="subtitle has-text-centered">Messenger</h4>
                            </div>
                        </div>
                        <div class="level-item is-narrow">
                            <div>
                                <a href="https://telegram.me/kazithebot">
                                    <img src="static/images/telegram.png" class="featured-img has-text-centered" alt=""/>
                                </a>
                                <h4 class="subtitle has-text-centered">Telegram</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="copy">
        <div class="container">
            <div class="layout layout-padding is-centered">
                <h4 class="heading-padding subtitle has-text-centered">How it works</h4>
                <div class="spacer is-centered"></div>
                <div class="columns is-centered">
                    <div class="column is-one-third">
                        <div class="columns is-mobile">
                            <div class="column is-narrow">
                                <span class="numberIcon">1</span>
                            </div>
                            <div class="column">
                                <h3 >Say hi to Kazibot</h3>
                                <p>Chat with Kazibot and answer a couple of questions to build your profile</p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="columns is-mobile">
                            <div class="column is-narrow">
                                <span class="numberIcon">2</span>
                            </div>
                            <div class="column">
                                <h3>Sit back and let the magic happen</h3>
                                <p>Once Kazibot creates your profile it starts searching through job boards looking for opportunities matching your profile</p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="columns is-mobile">
                            <div class="column is-narrow">
                                <span class="numberIcon">3</span>
                            </div>
                            <div class="column">
                                <h3>Match found</h3>
                                <p>Recieve a notification when Kazibot matches you with a job. Saving you time and presenting you with the perfect opportunity</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="heading-padding subtitle has-text-centered">Features</h4>
                <div class="spacer is-centered"></div>
                <div id="features" class="is-centered">
                    <div class="columns is-centered feature">
                        <div class="column">
                            <img src="static/images/target.png" class="f-img" alt=""/>
                        </div>
                        <div class="column">
                            <div class="f-text">
                                <h3>Your personal career advisor</h3>
                                <p>Get answers to commonly asked career questions and guidance based on your career aspirations.
                                The better Kazibot knows you, the more tailored the job recommendations and guidance become.</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-centered feature is-hidden-mobile">
                        <div class="column">
                            <div class="f-text has-text-right">
                                <h3>Discover new career opportunities</h3>
                                <p>Turn your job search into a personalized job discovery. Get notified on new job opportunities that match your skills and intrests</p>
                            </div>
                        </div>
                        <div class="column">
                            <img src="static/images/personal.png" class="f-img left" alt=""/>
                        </div>
                    </div>
                    <div class="columns is-centered feature is-hidden-tablet">
                        <div class="column">
                            <img src="static/images/personal.png" class="f-img" alt=""/>
                        </div>
                        <div class="column">
                            <div class="f-text">
                                <h3>Discover new career opportunities</h3>
                                <p>Turn your job search into a personalized job discovery. Get notified on new job opportunities that match your skills and intrests</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-centered feature">
                        <div class="column">
                            <img src="static/images/study.png" class="f-img" alt=""/>
                        </div>
                        <div class="column">
                            <div class="f-text">
                                <h3>Advance your career</h3>
                                <p>Get personalized resources to help you grow your skills, network and gain a competitive advantage</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
